.container {
  text-align: center;
}
input {
  margin: 20px;
}

dt {
  margin:auto;
}

h3 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

li { list-style-type: none;


}